<div class='std-form'>
    {{yield}}
    {{#bs-form action=(action 'submit') model=model}}
        {{bs-form-element label="Title" property="title" controlType="text"}}
        {{bs-form-element label="Clone Theme" property="theme" controlType="checkbox"}}
        {{bs-form-element label="Clone Pages" property="pages" controlType="checkbox"}}
        {{bs-form-element label="Clone Posts" property="posts" controlType="checkbox"}}
        {{bs-form-element label="Clone Plugins" property="plugins" controlType="checkbox"}}
        {{bs-button defaultText="Clone" type="primary" buttonType="submit"}}
        {{bs-button defaultText='Cancel' type="default" action="done"}}
    {{/bs-form}}
</div>
