<div class='std-form'>
    {{yield}}
    {{#bs-form action=(action 'submit') invalid='invalid' model=model}}
        {{bs-form-element label="Title" property="title" controlType="text"}}
        {{bs-form-element label="Category" property="category"
        choiceLabelProperty="title" choiceValueProperty="id" choices=model.categories controlType="select"}}
        {{page-plugin-selector model=model plugins=model.plugins}}
        {{markdown-editor model=model label="Content" property="content"}}
        {{bs-button defaultText=but_action type="primary" buttonType="submit"}}
    {{/bs-form}}
</div>
